<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/chessboard-1.0.0.min.css">
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="js/chessboard-1.0.0.min.js"></script>
    <title>Document</title>
</head>
<body>

    <div id="lesson1image">
            <div class="ClickableImage" id="instruction" style="background-color:lightgray;">
                <h3>Click on the black king!</h3>
            </div>

        <div id="board1" style="width: 400px"></div>
        
        <div class="ClickableImage" id="feedback" style="background-color:lightgray;">
                <h3 id="waiting">Waiting for user input...</h3>
                <h3 id="good_outcome" style="color:green;">Good job!</h3>
                <h3 id="bad_outcome" style="color:red;">Not quite. Try again.</h3>
            </div>
        </div>

  


    <script src="interactivechess.js"></script>
    <script>
        var lonePawn = {
            d3: 'wP',
            e3: 'wK',
            d5: 'bK'
        }
        var board1 = Chessboard('board1', lonePawn); 
		// Very temporary chess board
		// https://chessboardjs.com/docs for documentation

        initialize();
        showTextFeedback();

    </script>
</body>
</html>