:root {
    --clr-dark: rgb(15, 23, 42);
    --clr-light: rgb(241, 245, 249);
    --clr--accent: rgb(225, 29, 72);
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

.wrapper {
    margin: 5px 0px 0px 0px;
    padding: 0;
    color: var(--clr-dark);
    background: #d3d3d3;
    display: flex;
    width: 100%;
    height: 1000px;
    border: 8px solid  var(--clr-dark);
    border-radius: 10px;
}

.lesson_browser {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.all_lessons {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}

.module-container {
    margin: 10px;
    padding: 0;
    line-height: 1.6;
    word-spacing: 1.4px;
    color: var(--clr-dark);
    background-color: var(--clr-light);
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 90%;
    max-width: 1500px;
    min-width: 400px;
    height: 170px;
    border: 6px solid  var(--clr-dark);
    border-radius: 10px;
}

.lesson {
    margin: 10px;
    width: 200px;
    height: 200px;
    background: rgb(160, 204, 255);
    font-weight: 700;
    padding: 10px;
    border: 5px solid rgb(0, 0, 0);
    border-radius: 8px;
}

.lesson-title h2 {
  margin-top: 0px;
  padding-top: 0px;
}

.lesson-desc {
  height: 50%;
  width: 100%;
  float: left;
}

.lesson-desc {
  margin-top: 0px;
}

.lesson-box {
    margin: 10px;
    width: 175px;
    height: 135px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    padding: 1em;
    font-weight: 700;
    color: rgb(0, 0, 0);
    border: 5px solid rgb(0, 0, 0);
    border-radius: 8px;
}

.right-arrow, .left-arrow {
    margin: 10px;
    width: 25px;
    height: 100px;
    text-align: center;
    font-size: 64px;
    line-height: 100px;
    cursor: default;
    user-select: none;
}

.right-arrow:hover, .left-arrow:hover {
    cursor: pointer;
}

.button:hover {
    cursor: pointer;
}

strong {
  font-size: 32px;
  padding-left: 10px;
}
