<!--
    file:       lesson6.html
    author:     Jack Reynolds
    modified:   25 November 2022
-->
{% extends "base.html" %}

{% block title %}Lesson 6{% endblock %}
{% block header %}
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link href="../static/lessonUI.css" rel="stylesheet" type="text/css"/>
  <!--Scripts for HTML Tabs element-->
  <script src="../../static/Tabs.js"></script>
  <!--Scripts for HTML ClickableImage element-->
  <script src="../../static/ClickableImage.js"></script>
  <link href="../../static/lessonUI.css" rel="stylesheet" type="text/css"/>
  <!--Scripts for HTML InteractiveChess element-->
  <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
  <script src="../../static/chessboard-1.0.0.min.js"></script>
  <link rel="stylesheet" href="../../static/chessboard-1.0.0.min.css">
  <script src="../../static/InteractiveChess.js"></script>
{% endblock %}

{% block login %}
  {% if logged_in %}
  <button id="logbtn" class="pagebtn" onclick="window.location.href='/logout'">
    Logout
  </button>
  {% else %}
  <button id="logbtn" class="pagebtn" onclick="window.location.href='/login'">
    Login / Sign Up
  </button>
  {% endif %}
{% endblock %}

{% block body %}
  <div id="lessontitle">
      <h1>Lesson 6: Defending</h1>
  </div>
  <div id="headerbuttons">
      <button onclick="previous(lessontabs)"><<|</button>
      <button onclick="next(lessontabs)">|>></button>
      <button onclick="window.location.href='/catalog';">Lesson Home</button>
  </div>
  <div id="lessontabs">
      <div id="tab0">
          <h2>Lesson Introduction</h2>
          <p>
          Welcome again to ChessEDU!<br>
          We're glad to have you.<br>
          <br>
          In this lesson, you will learn<br>
          the basics of threatening<br>
          and defending.<br>
          <br>
          Please continue to the next page<br>
          to start this lesson.<br>
          <br>
          </p>
      </div>
      <div id="tab1">
          <h2>Context</h2>
          <p>
              In the previous lesson, terminology<br>
              like <i>threatening</i> and <i>defending</i><br>
              was used to describe the interactions<br>
              between certain pieces on the board.<br>
              <br>
              This lesson will explain the framework<br>
              to think about how pieces interact this way.<br>
              <br>
          </p>
      </div>
      <div id="tab2">
          <h2>Material</h2>
          <p>
              A crucial concept to understand<br>
              to understand chess strategy<br>
              is <i>material</i> or <i>point value</i>,
              a number that represents<br>
              the approximate value of a piece.<br>
              <br>
              Conventionally:<br>
              - A pawn is worth one point<br>
              - A knight is worth three points<br>
              - A bishop is worth three points<br>
              - A rook is worth five points<br>
              - A queen is worth nine points<br>
              <br>
              And your king is priceless, of course.<br>
              <br>
          </p>
      </div>
      <div id="tab3">
          <h2>Trades</h2>
          <p>
              The point system is not gospel,<br>
              nor is it a series of hard and fast rules.<br>
              <br>
              Rather, quantifying the value of pieces<br>
              allows us to talk about chess like<br>
              an economist or a strategist:<br>
              in terms of <i>opportunity costs</i><br>
              and trade-offs.<br>
              <br>
          </p>
      </div>
      <div id="tab4">
          <h2>Trades</h2>
          <p>
              In chess, a <i>trade</i><br>
              is an interaction between two pieces<br>
              where you give up something of some point value<br>
              in exchange for something of another point value.<br>
              <br>
              Every interaction in chess<br>
              is a trade of some form,<br>
              good trade or bad trade,<br>
              simple trade or complex trade.<br>
              <br>
          </p>
      </div>
      <div id="tab5">
          <h2>Trades</h2>
          <p>
              Your goal is to maximize the value<br>
              gained from an interaction,<br>
              to tip the scales<br>
              as far in your favor as possible.<br>
              <br>
              Your opponent is thinking about this, too,<br>
              and it is useful to consider whether your opponent<br>
              would or would not act on something<br>
              as part of evaluating the value of an interaction.<br>
              <br>
          </p>
      </div>
      <div id="tab6">
          <h2>Threatening</h2>
          <p>
              One piece <i>threatens</i> another<br>
              if it would be reasonable to state<br>
              that the piece would capture the other<br>
              if the player was given a turn to do so.<br>
              <br>
          </p>
      </div>
      <div id="tab7">
          <h2>Threatening</h2>
          <p>
              For example, in the position below<br>
              the black rook threatens the white pawn,<br>
              because Black could capture it at any moment.<br>
              <br>
              <div id="tab7board" style="width: 300px"></div>
              <script>
                  var threaten7 = {
                  d8: 'bR',
                  d4: 'wP',
              }
                  var tab7board = Chessboard('tab7board', threaten7);
              </script>
          </p>
      </div>
      <div id="tab8">
          <h2>Threatening</h2>
          <p>
              In this position, on the other hand,<br>
              if Black takes the pawn, they lose their rook.<br>
              In this position, the pawn is <i>not threatened</i>.<br>
              <br>
              <div id="tab8board" style="width: 300px"></div>
              <script>
                  var threaten8 = {
                  d8: 'bR',
                  d4: 'wP',
                  d1: 'wR',
              }
                  var tab8board = Chessboard('tab8board', threaten8);
              </script>
          </p>
      </div>
      <div id="tab9">
          <h2>Defending</h2>
          <p>
              A piece, in contrast, is <i>defended</i><br>
              if a piece that captured it<br>
              would be under threat<br>
              of capture itself.<br>
              <br>
              In the previous position,<br>
              White's rook is defending<br>
              White's pawn.<br>
              <br>
          </p>
      </div>
      <div id="tab10">
          <h2>Defending</h2>
          <p>
              You should make moves broadly<br>
              that are defended by previous moves.<br>
              <br>
              Having a chain of pieces defended<br>
              by the previous one back in the chain<br>
              allows you to push deep into enemy territory<br>
              while your opponent has to pay a steep price<br>
              to break up your offensive.<br>
              <br>
              A good offense always has<br>
              a good defense backing it up.<br>
              <br>
          </p>
      </div>
      <div id="tab11">
          <h2>Forks</h2>
          <p>
              The final topic for this lesson<br>
              is <i>forks</i>.
              <br>
              A fork is a situation where<br>
              two pieces are being threatened<br>
              by the same source.<br>
              <br>
              Here, you can predict that the player<br>
              whose pieces are being threatened<br>
              will choose to save the piece<br>
              with the higher material value.<br>
              <br>
          </p>
      </div>
      <div id="tab12">
          <h2>Forks</h2>
          <p>
              In this example, the black bishop<br>
              threatens both the white rook and knight.<br>
              However, Black would choose the rook over the knight.<br>
              <br>
              <div id="tab12board" style="width: 300px"></div>
              <script>
                  var fork12 = {
                  d6: 'bB',
                  b4: 'wR',
                  d4: 'wP',
                  f4: 'wN',
              }
                  var tab12board = Chessboard('tab12board', fork12);
              </script>
          </p>
      </div>
      <div id="tab13">
          <h2>Forks</h2>
          <p>
              This fork then forces White<br>
              to sacrifice the value of a knight<br>
              over the next turn to save their rook.<br>
              <br>
              <div id="tab13board" style="width: 300px"></div>
              <script>
                  var fork13 = {
                  d6: 'bB',
                  b4: 'wR',
                  d4: 'wP',
                  f4: 'wN',
              }
                  var tab13board = Chessboard('tab13board', fork13);
              </script>
          </p>
      </div>
      <div id="tab14">
          <h2>Forks</h2>
          <p>
              Forks are a solid offensive measure<br>
              that can break up the defenses of an opponent<br>
              by forcing them to choose who to save.<br>
              <br>
              <div id="tab14board" style="width: 300px"></div>
              <script>
                  var fork14 = {
                  d6: 'bB',
                  b4: 'wR',
                  d4: 'wP',
                  f4: 'wN',
              }
                  var tab14board = Chessboard('tab14board', fork14);
              </script>
          </p>
      </div>
      <div id="tab15">
          <h2>Lesson Complete</h2>
          <p>
          You have completed this lesson!<br>
          To progress to the next lesson, click the "Lesson Home" button<br>
          or use the button below to return to the lesson select page.<br>
          <br>
          <button onclick="window.location.href='/catalog';">Complete Lesson</button>
          <br>
          To restart this lesson, hit the next button again.<br>
          </p>
      </div>
  </div>
  <div id="footerbuttons">
      <button onclick="previous(lessontabs)"><<|</button>
      <button onclick="next(lessontabs)">|>></button>
      <button onclick="window.location.href='/catalog';">Lesson Home</button>
  </div>
  <script>
      const lessontabs = new Tabs('lessontabs');
  </script>
{% endblock %}
