<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %}ChessEDU Portal{% endblock %}</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/base.css" />
    {% block header %}{% endblock %}
  </head>
  {% block javascript %}
  <script type="text/javascript">
    // CHANGE THIS IN PRODUCTION
    const url = "localhost:5000";
    // REMOVE THIS IN PRODUCTION
    const cors_data = {
      "Access-Control-Allow-Origin": "*",
    };
  </script>
  {% endblock %}
  <body>
    <div id="content">
      <div id="portal-nav" class="navbar">
        <a id="title-a">ChessEDU Web Browser Portal</a>
        <div class="page-buttons">
          <button id="Courses" class="pagebtn" onclick="window.location.href='/course'">Courses</button>
          <button id="Practice" class="pagebtn" onclick="window.location.href='/board'">Practice</button>
          <button id="Account" class="pagebtn" onclick="window.location.href='/account'">Account</button>
        </div>
        {% block login %}
          {% if logged_in %}
          <div class="logout">
            <button class="logoutbtn" onclick="window.location.href='/logout'">
              Logout
            </button>
          </div>
          {% else %}
          <div class="login">
            <button class="loginbtn" onclick="window.location.href='/login'">
              Login / Sign Up
            </button>
          </div>
          {% endif %}
        {% endblock %}
      </div>
      {% block body %} {% endblock %}
  </body>
</html>
