{% extends "base.html" %}

{% block title %}Course Catalog{% endblock %}
{% block header %}
  <link rel="stylesheet" href="/static/catalog.css">
  <script src="static/catalog.js"></script>
{% endblock %}

{% block login %}
  {% if logged_in %}
  <button id="logbtn" class="pagebtn" onclick="window.location.href='/logout'">
    Logout
  </button>
  {% else %}
  <button id="logbtn" class="pagebtn" onclick="window.location.href='/login'">
    Login / Sign Up
  </button>
  {% endif %}
{% endblock %}

{% block body %}
  <div class="wrapper">
      <div class="lesson_browser">
          <strong>Basic Lessons</strong>
          <div class="module-container">
              <div class="left-arrow" onclick="previous(0)"><</div>
              <div class="lesson-box" onclick="window.location.href='/course/lesson1'">
                  <h2>How to use ChessEDU</h2>
              </div>
              <div class="lesson-box" onclick="window.location.href='/course/lesson2'">
                  <h2>Pieces of the Game</h2>
              </div>
              <div class="lesson-box" onclick="window.location.href='/course/lesson3'">
                  <h2>Basic Movement</h2>
              </div>
              <div class="right-arrow" onclick="next(0)">></div>
          </div>
          <strong>Tactics</strong>
          <div class="module-container">
              <div class="left-arrow" onclick="previous(1)"><</div>
              <div class="lesson-box" onclick="window.location.href='/course/lesson6'">
                  <h2>Defending</h2>
              </div>
              <div class="lesson-box" onclick="window.location.href='/course/lesson7'">
                  <h2>Castling</h2>
              </div>
              <div class="lesson-box" onclick="window.location.href='/course/lesson8'">
                  <h2>Pins and Skewers</h2>
              </div>
              <div class="right-arrow" onclick="next(1)">></div>
          </div>
          <div class="module-container">
            More lesson modules coming soon!
          </div>
          <div class="module-container">
            More lesson modules coming soon!
          </div>
          <div class="module-container">
            More lesson modules coming soon!
          </div>
      </div>
      <div class="all_lessons">
          <div class="lesson" onclick="window.location.href='/course/lesson1'">
            <div class="lesson-title"><h2>How to use ChessEDU</h2></div>
            <div class="lesson-desc"><p>The introduction for all new users.</p></div>
          </div>
          <div class="lesson" onclick="window.location.href='/course/lesson2'">
            <div class="lesson-title"><h2>Pieces of the Game</h2></div>
            <div class="lesson-desc"><p>Learn about the tools you posses to lead you to victory!</p></div>
          </div>
          <div class="lesson" onclick="window.location.href='/course/lesson3'">
            <div class="lesson-title"><h2>Basic Movement</h2></div>
            <div class="lesson-desc"><p>Learn what moves each piece you have learned about is capable of.</p></div>
          </div>
          <div class="lesson" onclick="window.location.href='/course/lesson4'">
            <div class="lesson-title"><h2>Your First Game</h2></div>
            <div class="lesson-desc"><p>Learn how to start a game with a friend!</p></div>
          </div>
          <div class="lesson" onclick="window.location.href='/course/lesson5'">
            <div class="lesson-title"><h2>Avoiding An Early Defeat</h2></div>
            <div class="lesson-desc"><p>Learn how to avoid losing early with a defense against the Scholars Mate.</p></div>
          </div>
          <div class="lesson" onclick="window.location.href='/course/lesson6'">
            <div class="lesson-title"><h2>Defending</h2></div>
            <div class="lesson-desc"><p>Stand your ground with an eye on defending.</p></div>
          </div>
          <div class="lesson" onclick="window.location.href='/course/lesson7'">
            <div class="lesson-title"><h2>Castling</h2></div>
            <div class="lesson-desc"><p>Learn a special move to help safeguard your King.</p></div>
          </div>
          <div class="lesson" onclick="window.location.href='/course/lesson8'">
            <div class="lesson-title"><h2>Pins and Skewers</h2></div>
            <div class="lesson-desc"><p>Ensnare your opponent in a trap using the tactics of pins and skewers.</p></div>
          </div>
          <div class="lesson" onclick="window.location.href='/course/lesson9'">
            <div class="lesson-title"><h2>Forcing Moves</h2></div>
            <div class="lesson-desc"><p>Control the flow of your opponent using forcing moves.</p></div>
          </div>
          <div class="lesson" onclick="window.location.href='/course/lesson10'">
            <div class="lesson-title"><h2>Discovered Moves</h2></div>
            <div class="lesson-desc"><p>Reveal new attacks against your opponent using discovered moves.</p></div>
          </div>
          <div class="lesson" onclick="window.location.href='/course/lesson11'">
            <div class="lesson-title"><h2>The Ladder Checkmate</h2></div>
            <div class="lesson-desc"><p>Learn a new tactic to help guarantee checkmates.</p></div>
          </div>
          <div class="lesson">
              <div class="lesson-desc"><p>More lessons coming soon!</p></div>
          </div>
          <div class="lesson">
              <div class="lesson-desc"><p>More lessons coming soon!</p></div>
          </div>
          <div class="lesson">
              <div class="lesson-desc"><p>More lessons coming soon!</p></div>
          </div>
          <div class="lesson">
              <div class="lesson-desc"><p>More lessons coming soon!</p></div>
          </div>
          <div class="lesson">
              <div class="lesson-desc"><p>More lessons coming soon!</p></div>
          </div>
      </div>
  </div>
{% endblock %}
