{% extends "base.html" %}

{% block title %}ChessEDU - Login{% endblock %}

{% block header %}
  <link rel="stylesheet" href="../static/login.css">
{% endblock %}

{% block javascript %}
  <script>
  //Toggles the "Invalid Login" message whenever the login_div is clicked
    function toggle()
    {
      document.getElementById("invalid_login").style.display="none";
      document.getElementById("login_div").onclick = "";
    }
  </script>
{% endblock %}

{% block login %}
  {% if logged_in %}
  <div class="Logout">
    <button class="logoutbtn" onclick="window.location.href='/logout'">
      Logout
    </button>
  </div>
  {% else %}
  <div class="Login">
    <button class="loginbtn" onclick="window.location.href='/login'">
      Login / Sign Up
    </button>
  </div>
  {% endif %}
{% endblock %}

{% block body %}
  <h2 class="login-title">Portal login</h2>
  <div id="login_div" class="login" onclick="javascript: toggle()">
    <form id="login" method="POST">
      {{form.csrf_token}}
      <label> <b>User Name</b><br /><br /> </label>
      {{form.username}}
      <br /><br />
      <label> <b>Password</b><br /><br /> </label>
      {{form.password}}
      <br /><br />
      <input type="submit" value="Log In Here" />
      <br /><br />
    </form>
    <p id="invalid_login" style="color: red; text-align: center">Invalid login</p>
  </div>
{% endblock %}
