{% extends "base.html" %}

{% block title %}ChessEDU Page Template{% endblock %}
{% block header %}
  <link rel="stylesheet" href="static/<name>.css"/>
{% endblock %}

{% block login %}
  {% if logged_in %}
  <button id="logbtn" class="pagebtn" onclick="window.location.href='/logout'">
    Logout
  </button>
  {% else %}
  <button id="logbtn" class="pagebtn" onclick="window.location.href='/login'">
    Login / Sign Up
  </button>
  {% endif %}
{% endblock %}

{% block body %}
  <h1>This is where the body would go.</h1>
  <h2>Example Section Header<h2>
  <p>Paragraph placeholder. Some text about the lesson or module should go here</p>
  <br>
  <h2>Another Section Header<h2>
  <p>Another paragraph placeholder. This one will probably say something different from the first one.<p>
{% endblock %}
